#open-world {
  width: 600px;
  max-height: 415px;
  margin: auto;
  background-color: #191919;
  padding: 25px 50px;
  text-align: center;
  position: relative;
  overflow: hidden;

  &,
  & > * {
    transition: all .5s;
  }

  .collapse-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #111;
    width: 40px;
    height: 27px;
    border: 1px solid #aaa;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 15px;

    .sign {
      font-weight: bold;
      font-size: 25px;
      color: #ccc;
      position: relative;
      top: -5px;
    }
  }

  .section-title {
    font-size: 32px;
    color: rgb(0, 153, 255);
    margin-bottom: 70px;
    position: relative;
  }

  .world-name {
    margin-top: 45px;
    font-size: 36px;
    margin-bottom: 60px;
  }

  .current-state,
  .time-left {
    font-size: 24px;
    color: #ccc;
  }

  &.collapsed {
    max-height: 57px;
    cursor: pointer;

    & > *:not(.section-title):not(.collapse-btn) {
      opacity: 0;
    }

    .section-title {
      transform: translateY(-45px);
    }
  }
}
