#open-world {
  width: 600px;
  margin: auto;
  background-color: #191919;
  padding: 25px 50px;
  text-align: center;
}

.section-title {
  font-size: 32px;
  color: rgb(0, 153, 255);
  margin-bottom: 70px;
}

.world-name {
  margin-top: 45px;
  font-size: 36px;
  margin-bottom: 60px;
}

.current-state,
.time-left {
  font-size: 24px;
  color: #ccc;
}